p.p{
	text-decoration: overline;
	color: crimson;
}
p.pp{
text-decoration: line-through;
color: darkgreen;
}
p.ppp{
text-decoration: underline;
}
a.a{
	text-decoration: none;
	color: deeppink;
}